CREATE TABLE MovieActors (movie_id INT NOT NULL REFERENCES Movies(id) ON DELETE CASCADE, actor_id INT NOT NULL REFERENCES Actors(id) ON DELETE CASCADE, PRIMARY KEY (movie_id, actor_id)); CREATE TABLE MovieDirectors (movie_id INT NOT NULL REFERENCES Movies(id) ON DELETE CASCADE, director_id INT NOT NULL REFERENCES Directors(id) ON DELETE CASCADE, PRIMARY KEY (movie_id, director_id));
